JWT_SECRET=
JWT_RESET_PASSWORD=
JWT_UPDATE_EMAIL=
NODEMAILER_SERVISE=
NODEMAILER_HOST=
NODEMAILER_USER=
NODEMAILER_PASSWORD=
ETHEREAL_HOST=
ETHEREAL_USER=
ETHEREAL_PASSWORD=
DB_URL=
CLIENT_URL=
API_URL=