# Logs
logs/
*.log
npm-debug.log*

# Dependency directory
node_modules
.env


# Public directory
public/*
!public/.gitkeep

# Keep upload directory structure, ignore uploaded content
uploads/*
!uploads/gallery/
!uploads/posts/

uploads/gallery/*
!uploads/gallery/.gitkeep

uploads/posts/*
!uploads/posts/.gitkeep

# Optional npm cache directory
.npm

# Token verification file
test-jwt.js

# Optional REPL history
.DS_Store
.idea
.vscode

# Audit
AUDIT.md